*{
    background-color: #243665;
    color: #8BD8BD;
    
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v13/PbykFmXiEBPT4ITbgNA5Cgm203Tq4JJWq209pU0DPdWuqxJFA4GNDCBYtw.0.woff2)
    format("woff2");
}
    
}
.js-clock{
    text-align: center;
    vertical-align: middle;
    font-family: "AppleSDGothicNeoH00", sans-serif;
    font-size: 4rem;
    line-height: 850px;
}
